<p>constelation works!</p>

{{constelation |  json}}

<table mat-table [dataSource]="starDataSource" matSort>


    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell  *matCellDef="let element"><a>{{ element.name }}</a></td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="desig">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Desig</th>
        <td mat-cell *matCellDef="let element">{{ element.desig }}</td>
    </ng-container>

    <ng-container matColumnDef="spk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>spk</th>
        <td mat-cell *matCellDef="let element">{{ element.spk }}</td>
    </ng-container>

    <ng-container matColumnDef="mag">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>mag</th>
        <td mat-cell *matCellDef="let element">{{ element.mag }}</td>
    </ng-container>
    <ng-container matColumnDef="bvc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>bvc</th>
        <td mat-cell *matCellDef="let element">{{ element.bvc }}</td>
    </ng-container>
    <ng-container matColumnDef="ra">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ra</th>
        <td mat-cell *matCellDef="let element">{{ element.ra }}</td>
    </ng-container>
    <ng-container matColumnDef="de">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>de</th>
        <td mat-cell *matCellDef="let element">{{ element.de }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

